/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Post */
    .img-fluid {
        border: 1px solid #af009f;
    }
    .font-weight-bolder, #postHeading{
        color: #af009f;
    }
    #postContent {
        color: #dddddd;
        margin-top: 3rem;   
        width: 100%;
    }
    #postMainHeading{
        color: #af009f;
        font-size: 2rem;
        text-shadow: 2px 1px 4px #cc0052;
    }
    #postMainHeadingFooter{
        font-size: 0.8rem;
    }
    #postQuotedLinks{
        border-left: 10px solid #af009f;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
    #postQuotedLinks a{
        color: #af009f;
        text-decoration:underline;
    }
    #postQuotedLinks a:hover{ 
        color: #af009f;
        text-decoration:none;
    }
    #postCode {
        color: #af009f;
        font-size: 1rem;
    }
/* Post */
/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Original CSS For All Pages Default*/
    body {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
    /* Original CSS For All Pages Default*/
    /* Post */
    #postContent {
        margin-top: 6rem;   
        width: 70%;
    }
    #postQuotedLinks{
        padding-left: 3rem;
        font-size: 1.4rem;
    }
    #postMainHeading{
        font-size: 2.5rem;
    }
    #postCode {
        font-size: 1.1rem;
    }
    /* Post */
}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #postContent {
        width: 55%;
    }
}

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* Original CSS For All Pages Default*/
    body {
        font-family: 'Karla', sans-serif;
        background-color: #111111;
    }
    .fas {
        color:#af009f;
        font-size: 1.5rem;
    }
    #hamBurger {
        border: 1px solid #af009f;
    }
    .icon {
        width: 1em;
        height: 1em;
        fill: currentColor;
    }
    .navbar {
        background-color: black;
    }
    #navbarShadow {
        box-shadow: 1px 1px 1px 1px #af009f;
    }
    #brandName{
        color: #af009f;
    }
    .active{
        background-color: #af009f;
    }
    #navItemHover:hover {
        color: #af009f;
    }
    #navItemHover{
        color: white;    
    }
    #allLinks:hover { 
        color: #af009f;
        text-decoration:none;
    }
    #allLinks {
        color: #af009f;
        text-decoration:underline;
    }
/* Original CSS For All Pages Default*/

/* FOOTER For All Pages Default*/
    .mini-footer {
    background-color: black;
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid #af009f;
    }
    .mini-footer p {
    color:white;
    }
    .mini-footer p a {
        color:#af009f;  
        text-decoration: underline;
    }
    .mini-footer p a:hover {
    color:#af009f;
    text-decoration: none;
    }
/* FOOTER For All Pages Default*/
