/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */
#cardTitle{
    color: #af009f;
}
.card-text, #latestPosts{
    color: white;
}

.card {
    background-color: transparent;
    border: 1px solid #af009f;
    text-align: center;
    max-width: 20rem;
}

.card-footer {
    border-top: 1px solid #af009f;
}

#cardImg {
    margin-bottom: 5%;
    border-radius: 20px;
}

.card-title {
    font-size: 1.5rem;
}

a:hover{ 
    text-decoration:none;
}

#latestPosts {
    font-size: 2rem;
}
/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
/* Original CSS For All Pages Default*/
body {
    font-size: 1.1rem;
    letter-spacing: 1px;
}
/* Original CSS For All Pages Default*/
}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #latestPosts {
        font-size: 2.5rem;
    }
}

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Original CSS For All Pages Default*/
body {
    font-family: 'Karla', sans-serif;
    background-color: black;
}

.fas {
    color:#af009f;
    font-size: 1.5rem;
}

#hamBurger {
    border: 1px solid #af009f;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding-bottom: 4px;
}

.navbar {
    background-color: black;
}

#brandName{
    color: #af009f;
}

.active{
    background-color: #af009f;
}

#navItemHover:hover {
    color: #af009f;
}

#navItemHover{
    color: white;    
}

#navbarShadow {
    box-shadow: 1px 1px 1px 1px #af009f;
}
#postLinksAll a:hover { 
    color: #af009f;
    text-decoration:none;
}
#postLinksAll a {
    color: #af009f;
    text-decoration-line:underline;
}
/* Original CSS For All Pages Default*/

/* FOOTER */
.mini-footer {
background:transparent;
text-align:center;
padding:16px 0;
border-top: 1px solid #af009f;
}
.mini-footer p {
margin:0;
line-height:26px;
color:white;
}
.mini-footer p a {
    color:#af009f;  
}
.mini-footer p a:hover {
color:#af009f;
text-decoration: underline;
}
/* FOOTER */
